@model EntityLayer.Concreate.Customer
@{
    ViewData["Title"] = "UpdateCustomer";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Müşteri Güncelleme</h1>

<form method="post">

    @Html.Label("Müşteri Id")
    @Html.TextBoxFor(x=> x.Id,new {@class="form-control"})
    <br />

    @Html.Label("Müşteri Adı")
    @Html.TextBoxFor(x=>x.Name,new {@class="form-control"})
    <br />


    @Html.Label("Müşteri Şehri")
    @Html.TextBoxFor(x=>x.City,new {@class="form-control"})
    <br />

    <button class="btn btn-warning">Müşteri Güncelle</button>


</form>